
/* Smaller than standard 1230(devices and browsers) */
@media only screen and (max-width:1023px){
  .container, .related-products .container {
    max-width: 100%;
    padding: 0 20px;
}
    #product-single .summary.entry-summary {
      width: 50%;
      padding-right: 15px;
      padding-left: 15px;
  }
  #product-single .product-thumb-main {
    width: 50%;
    padding: 0 15px;
    max-width: inherit;
  }
}
@media only screen and (max-width:768px){
 
    #product-single .summary.entry-summary {
      width: 100%;
  }
  #product-single .product-thumb-main {
    width: 100%;
  }
    .related-products .section-related-product-carousel .slick-arrow.slick-prev {
      left: 0;
  }
  .related-products .section-related-product-carousel .slick-arrow.slick-next {
    right: 0;
  }
  #product-single .product-thumb-main .pager-thumbnail-wrapper {
    display: none;
  }
  #product-single .product-thumb-main .main-thumb-slide {
    width: 100%;
}
}
