
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

#content {
    padding: 50px 0;
    background: #fff;
}
.container {
    width: 1100px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
}
.inner-wrapper {
	margin-left: -15px;
	margin-right: -15px;
}
.inner-wrapper:before,
.inner-wrapper:after {
	content: " ";
	display: table
}
.section-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
}

/*--------------------------------------------------------------
# Woocommerce Single page 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
     - Carousel
--------------------------------------------------------------*/

.section-carousel-enabled {
    .slick-slide:focus,
    .slick-slide.slick-active{
        outline: none!important;
    }
    .slick-dots {
        text-align: center;
        transition: all 1s ease-in-out 0s;
        width: 100%;
        z-index: 999;
        position: absolute;
        bottom: -20px;
        span {
            background-color: #686868;
            cursor: pointer;
            display: inline-block;
            float: none;
            height: 15px;
            margin: 5px 5px;
            width: 15px;
            z-index: 99;
        }
        li{
            display: inline-block;
            line-height: 0;
            list-style: inherit;
            padding: 0;
            button {
                border-radius: 100%;
                height: 10px;
                width: 10px;
                padding: 0;
                margin: 5px;
                text-indent: 999px;
                overflow: hidden;
                background: #cccccb;
            }
            &::before {
                display: none;
            }
        }
        &.slick-active {
            span {
                background-color: #000;
            }
         }
    }
}
/*--------------------------------------------------------------
    - Slick next / previous
--------------------------------------------------------------*/

.section-carousel-enabled {
    .slick-arrow {
        cursor: pointer;
        position: absolute;
        text-align: center;
        top: 45%;
        z-index: 98;
        font-size: 17px;
        padding: 16px 20px;
        left: 0;
        background-image: url(images/arrow-left.svg);
        height: 50px;
        width: 50px;
        background-position: center;
        background-size: 10px;
        background-repeat: no-repeat;
        &.slick-next {
            left:inherit;
            right: 0;
            background-image: url(images/arrow-right.svg);
            background-position: center;
            background-size: 10px;
            background-repeat: no-repeat;
        }
    }
    
}
/*--------------------------------------------------------------
    - slick-vertical
--------------------------------------------------------------*/

.slick-vertical {
    .slick-slide {
        display: block;
        height: auto;
        border: none;
        padding: 5px 0;
        cursor: pointer;
    }
    .slick-arrow {
        background-image: url(images/arrow-up.svg);
        height: 22px;
        width: 50px;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        display: block;
        margin: 3px auto;
        background-size: 20px;
        &.slick-next {
            left:inherit;
            right: 0;
            background-image: url(images/arrow-down.svg);
        }
    }
}
 

/*--------------------------------------------------------------
    - FAQ's
--------------------------------------------------------------*/

.faq-section {
    .faq-item {
        .faq-title {
            position: relative;
            display: block;
            cursor: pointer;
            padding: 12px 0;
            border-bottom: 2px solid #ebebeb;
            h3 {
                margin: 0;
                font-size: 14px;
                font-weight: normal;
            }
            &:after {
                content: "+";
                height: 40px;
                display: inline;
                position: absolute;
                position: absolute;
                top: 10px;
                left: 0;
                font-size: 20px;
            }
        }
        .faq-content {
            padding: 20px 0 5px;
	        border-bottom: 2px solid #ebebeb;
        }
        &.acc_active {
            .faq-title:after {
                content: "-";
                font-size: 30px;
            }
        }
        &:first-child {
            border-top: 2px solid #ebebeb;
        }
    }
} 

/*--------------------------------------------------------------
    - Basic Breadcrumb
--------------------------------------------------------------*/

#breadcrumb {
    color: #222;
    text-align: center;
    margin-bottom: 30px;
	text-align: right;
    ul {
        margin:0;
        padding: 0;
        li {
            display: inline-block;
            list-style: outside none none;
            padding-right: 10px;
            a,a:visited {
                color: #000;
                &:hover,:focus,:active {
                    color: #ce1648;
                }
            }
            &.trail-item.trail-end::after {
                display: none;
            }
            &:first-child::before {
                display: none;
            }
            &:before {
                content: "/";
                font-size: 11px;
                margin-right: 10px;
            }
        }
    }
}

/*--------------------------------------------------------------
 Single Product Page
--------------------------------------------------------------*/

#product-single {
    .slick-list {
        padding: 0!important;
        z-index: 1;
    }
    .product-thumb-main {
        width: 55%;
        float: right;
        padding:0 15px;
        max-width: 600px;
        .single-thumb {
            position: relative;
            a {
                display: block;
            }
        }
        a.wish-list {
            position: absolute;
            left: 20px;
            top: 20px;
            background: #fff;
            border-radius: 100%;
            padding: 5px 4px;
        }
        a.woocommerce-product-gallery__trigger {
            position: absolute;
            bottom: 20px;
            left: 20px;
            background: #fff;
            border-radius: 100%;
            padding: 4px 10px;
            height: 34px;
            width: 34px;
        }
        a.woocommerce-product-gallery__trigger img {
            display: inline;
        }
       .main-thumb-slide {
            width: 79%;
            padding-right: 10px;
            float: left;
            padding: 0 15px;
        }
        .pager-thumbnail-wrapper {
            max-width: 21%;
            float: right;
            padding: 0 15px;
        }
    }

    .summary.entry-summary {
        width: 45%;
        float: left;
        padding-right: 55px;
        padding-left: 80px;
        margin: 0;
        .pager-thumbnail-wrapper {
            max-width: 21%;
        }
     
        .product-item-details {
            text-align: right;
            .item-content {
                margin-bottom: 30px;
            }
        }  
        
        .choose-color {
            ul {
                display: flex;
                gap: 20px;
                float: right;
                width: 100%;
                li {
                    a {
                        text-indent: -5px;
                        display: block;
                        width: 25px;
                        height: 25px;
                        background: #ddd;
                        border-radius: 100%;
                    }
                &.pink-color a {
                    background: #fde5fe;
                }
                &.orange-color a {
                    background: #f69a62;
                }
                &.blue-color a {
                    background: #6a99c5;
                }
                &.green-color a {
                    background: #49a974;
                }
                }
            }
        }
        
        .size-select {
            .size-title-wrapper {
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                a,a:visited {
                    text-decoration: underline;
                    color:#00000054;
                }
                a:hover,a:focus, a:active  {
                    color:#000;
                }
            }
            .product-size {
                display: flex;
             
                margin-bottom: 30px;
                    td,th {
                    padding: 5px;
                    border: 1px solid #ededed;
                    text-align: center;
                    min-width: 50px;
                }
            }
            
        }
        .product-quantity {
            margin-bottom: 30px;
            float: right;
            border: 1px solid #DDD;
            display: flex;
            justify-content: flex-start;
            flex-direction: row-reverse;
            span {
                font-size: 20px;
                width: 40px;
                height: 40px;
                display: flex;
                text-align: center;
                cursor: pointer;
                align-items: center;
                justify-content: center;
            }
            input.input-text {
                width: 44px;
                border: none;
                background: none;
                height: 40px;
                text-align: center;
                font-size: 15px;
            }
        }
        button.add_to_cart_button {
            width: 100%;
            padding: 11px 30px;
            font-size: 18px;
            margin-bottom: 30px;
            border: none;
        }
     
       .fix-price {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 15px;
            display: inline-block;
        }
    }
    .product-title {
        font-size: 24px;
        font-weight: normal;
    }
    .share-on {
        float: right;
        ul {
            display: flex;
                gap: 10px;
                margin: 20px 15px 0;
                flex-direction: row-reverse;
            li {
                a {
                    img {
                        margin-right: 10px;
                        float: left;
                        vertical-align: middle;
                        margin-top: 4px;
                    }
                }
            } 
        } 
    }
}


/*--------------------------------------------------------------
Related Product 
--------------------------------------------------------------*/

.related-products {
    padding-top: 45px;
    .container {
        width: 100%;
        max-width: 1290px;
    }
    .product-thumb {
        position: relative;
            .pruduct-buttons {
                position: absolute;
                top: 20px;
                left: 20px;
               a {
                background: #fff;
                border-radius: 100%;
                padding: 5px 3px;
                height: 34px;
                width: 34px;
                display: block;
                margin: 0 auto;
                }
             
            }
    }
    .product-item.slick-slide {
        padding: 0 15px;
    }
    .section-related-product-carousel {
        .slick-arrow {
            top: 40%;
            &.slick-prev {
                left: -45px;
            }
            &.slick-next {
                right: -45px;
            }
        }
        .slick-list {
            padding: 0 !important;
        }
    }
    .product-item-detail {
        text-align: right;
        padding-top: 20px;
        h3 {
            margin: 0;
            font-size: 16px;
            font-weight: normal;
        }
    } 
    .product-price-container {
        font-size: 16px;
    }
 
}




