:root {
    --wp--preset--color--background:#fff;
    --wp--preset--color--foreground:#000;
    --wp--preset--color--border:#c9c9c9;
    --wp--preset--color--link-hover:#222;
    --wp--preset--color--button-backgrond:#222;
  
}